body{
    margin:0;
    padding:0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    color:black;
    background-color: lightgoldenrodyellow;
}
.wrapped{
    display:flex;
    flex-direction:column;
    padding:20px;
}
.form{
    display:flex;
    flex-direction: column;
    width:50%;
    justify-content: flex-start;
}
.input-number{
    height:20px;
    margin-bottom:10px;
    margin-top:10px;
    border: 2px solid lightskyblue;
}
.button{
    background-color: lightskyblue;
    width:150px;
    height:40px;
    border-radius: 5%;
    color:white;
    box-shadow: white;
    font-size: 14px;
}

.pista{
    margin-top:20px;
    border: 5px solid lightpink;
}
.attemps{
    margin-top: 10px;
    border: 5px solid lightpink;
}
.quantity{
    font-weight: bold;
    font-family: 40px;
}

.red{
   color:red;
}
.blue{
    color:lightskyblue;
}
.loser{
    color:black;
}
.winner{
    font-weight: 900;
    color: darkgoldenrod;
    font-size: 20px;
    text-align: center;
}